<h1>Assignments</h1>
<% if current_student.try(:admin?) %>  
  <p>
    <label>Choose assignment to upload: </label>
      <%= form_tag import_assignments_path, multipart: true do %>
    <button class="bt btn-default navbar-btn"><%= file_field_tag :file%></button>
    <button class="bt btn-default navbar-btn">Import</button>    
    <% end %>
  <% end %>
</p>
<table>
  <tr>
    <td>Name</td>
    <td>Score</td>
    <td>total</td>
  </tr>
  <% total_of_totals = 0 %>
  <% total_of_scores = 0 %>
  <% @assignment.each do |a| %>
  <tr>
    <td><% a.name %></td>
    <td><% a.score %><% total_of_scores += total_of_scores %></td>
    <td><% a.total %><% total_of_totals += total_of_totals %></td>
  </tr>
  <tr>
    <td>Total of Scores</td>
    <td>Total of Totals</td>
    <td>Grade Percent</td>
  </tr>
  <tr>
    <td><% total_of_scores %></td>
    <td><% total_of_totals %></td>
    <td><% number_to_percentage(total_of_scores.to_f / total_of_totals * 100, precision: 0) %></td>
  </tr>
  <% end %>
</table>
  